/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$body-bg: rgb(253, 253, 253);
$body-color: rgb(105, 105, 105);

$theme-colors: (
  "primary": #333333,
  "danger": #ee36ff
);

@import "bootstrap";

 .center_div {
     margin: 0 auto;
     width:80% /* value of your choice which suits your alignment */
 }

.site-well {
  padding-bottom: 10px;
  border: 1px solid #ccc;
}

.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.mynav .sidebar-nav, .mynav {
    width: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    background-color: $body-bg
}

.circle-spinner {
	position: relative;
	min-width: 100%;
	min-height: 100%;
	float: left;
	-webkit-animation: cricle-spinner infinite .75s linear;
		 -moz-animation: circle-spinner infinite .75s linear;
			 -o-animation: circle-spinner infinite .75s linear;
					animation: circle-spinner infinite .75s linear;
	border: 2px solid rgba(125, 125, 125, 0.9);
	border-top-color: rgba(0, 0, 0, .1);
	border-right-color: rgba(0, 0, 0, .1);
	border-bottom-color: rgba(0, 0, 0, .1);
	border-radius: 100%;
}

@keyframes circle-spinner {
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}
}

.cssload-container {
	width: 49px;
	height: 49px;
	text-align: center;
}

.cssload-zenith {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-radius: 50%;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	box-shadow: 3px 3px 1px rgb(0,0,0);
	animation: cssload-spin 690ms infinite linear;
		-o-animation: cssload-spin 690ms infinite linear;
		-ms-animation: cssload-spin 690ms infinite linear;
		-webkit-animation: cssload-spin 690ms infinite linear;
		-moz-animation: cssload-spin 690ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}