
%div
  = react_component 'MainNav', {username: current_user.email, logout_url: destroy_user_session_path}
  = react_component 'ActivityHome', {initialCollection: @todaysActivities, history: @history}
